body {
  font-family: 'Gowun Dodum', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

.login-container, .home-header, .guestbook-container, .board-container {
  text-align: center;
  padding: 20px;
}

.login-container input, .guestbook-container textarea, .board-container input, .board-container textarea {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container img {
  width: 150px;
  border-radius: 50%;
}



